body{
    box-sizing: border-box;
    background-color: black;
    background-image: url(bomba.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.digito {
    color: black;
    background-color: white;
    outline-offset: -20px;
    border-radius: 30px;
    font-size: 30px;
    padding: 60px;;
}

.tiempo {
    color: black;
    background-color: white;
    outline-offset: -20px;
    border-radius: 30px;
    font-size: 15px;
    padding: 50px;;
}

#combinacion1 {
    width: 108.22px;
}

#combinacion2 {
    width: 108.22px;
}

#combinacion3 {
    width: 108.22px;
}

#combinacion4 {
    width: 108.22px;
}

#display {
    color: red;
    background-color: black;
    text-align: center;
    display: block;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#tiempo {
    text-align: center;
    background-color: black;
    color: orange;
    width: 432.91px;
    font-size: 30px;
}

#bordetop {
    border: solid;
    border-color: brown;
    width: 432.91px;
    margin: auto;
    background-color: white;
}

#bordebottom {
    border: solid;
    border-color: brown;
    width: fit-content;
    margin: auto;
    background-color: white;
}

#cero {
    display: block;
    margin: auto;
}