/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* body{
    box-sizing: border-box;
    background-image: url(Calderon\ fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
  }

.body2 {
  box-sizing: border-box;
  background-image: url(TorresEspaña.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 80px;
  color: rgb(207, 18, 18);
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

h2 {
  text-align: center;
  clear: both;
  background-color: rgb(255, 251, 0);
  color: #000000;
  border: solid;
  border-color: #000000;
  border-radius: 5px;
}

h3{
  clear: both;
  text-align: center;
  background-color: rgb(24, 153, 204);
  color: #000000;
  border: solid;
  border-color: #000000;
  border-radius: 5px;
  }

#margenh3 {
  margin-bottom: 18.72px;
}

ul {
  text-align: left;
  background-color: rgb(255, 255, 255);
  color: #000000;
  border: solid;
  border-color: #000000;
  border-radius: 5px;
  padding-left: 0;
}

table {
  background-color: rgb(255, 255, 255);
  color: #000000;
  border: solid;
  border-color: #000000;
  border-radius: 5px;
}


/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 25px;
}

.izquierda {
width: 15%;
padding: 10px;
border:solid;
border-color: rgb(226, 35, 35);
border-radius: 5px;
min-height: 500px;
}

.centro {
  width: 47%;
  padding: 10px;
  border:solid;
  border-color: rgb(226, 35, 35);
  border-radius: 5px;
  min-height: 500px;
}

.derecha {
width: 25%;
padding: 10px;
border:solid;
border-color: rgb(226, 35, 35);
border-radius: 5px;
min-height: 500px;
}

.izquierda2 {
  width: 25%;
  padding: 10px;
  border:solid;
  border-color: rgb(226, 35, 35);
  border-radius: 5px;
  min-height: 500px;
  }
  
.centro2 {
    width: 37%;
    padding: 10px;
    border:solid;
    border-color: rgb(226, 35, 35);
    border-radius: 5px;
    min-height: 500px;
  }
  
.derecha2 {
  width: 15%;
  padding: 10px;
  border:solid;
  border-color: rgb(226, 35, 35);
  border-radius: 5px;
  min-height: 500px;
  }

#imghtml {
  width: 100%;
}

#imghtml2 {
  width: 100%;
}

#imghtml3 {
  width: 60%;
  display: block;
  margin: auto;
}

#imghtml4 {
  width: 130%;
  display: block;
  margin: auto;
}

.centrado {
  margin: auto;
  display: block;
  width: fit-content;
}

.left {
  text-align: left;
}

.padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.align {
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: #000000;
  border: solid;
  border-color: #000000;
  border-radius: 5px;
  padding-left: 0;
}

.ancho {
  margin: auto;
  width: 70%;
  margin-bottom: revert;
  margin-top: revert;
}

button {
  display: block;
  margin: auto;
  background-color: rgb(233, 36, 2);
  color: white;
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

.iresponsive {
    padding: 0 6px;
    float: left;
    width: auto;
    text-align: center
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */